/* 
Eric Meyer's CSS Reset
http://meyerweb.com/eric/tools/css/reset/
v1.0 | 20080212
CSSresetr.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- Header ----- */
header, section {
	overflow: hidden;
	}

header {
	padding: 20px;
	background: #ECECEC;
	}

h1, nav ul li, article {
	float: left;
	}

h1 {
	display: block;
	font-size: 20px;
	}

nav {
	float: right;
	}

nav ul li {
	display: block;
	}

nav ul li a, article {
	font-size: 16px;
	}

nav ul li a {
	background: #CCC;
	padding: 3px 6px;
	}

nav ul li a:hover {
	background: #C1C1C1;
	}

/* ----- Featured Content ----- */
span#featuredContent {
	display: block;
	color: #EFEFEF;
	background: #DDD;
	width: 100%;
	height: 400px;
	margin: 0 auto;
	}


/* ----- Body ----- */
article {
	padding: 10px 20px 10px 20px;
	width: 28%;
	margin: 5px;
	}

/* ----- Footer ----- */
footer {
	background: #EFEFEF;
	padding: 10px;
	}
	
footer p {
	font-size: 12px;
	text-align: center;
	}